:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: linear-gradient(to bottom, rgb(152, 28, 28), white) !important;
  background-repeat: no-repeat;
}

  .custom-card {
    background: linear-gradient(to bottom, rgb(152, 28, 28), white);

    border-radius: 15px;
  }
 @media (max-width: 767px) {
    .card {
      width: 100%;
      margin: 0 !important;
      border-radius: 0.5rem;
      padding: 1.5rem;
    }
    .form-control {
      font-size: 1.1rem;
      padding: 0.6rem 0.5rem;
    }
    label {
      font-size: 1rem;
    }
    h3 {
      font-size: 1.4rem;
    }
  }